.markdown-formatting {
    h1, h2, h3, h4, h5, h6 {
        margin: 0.8em 0 0.2em 0;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.6em;
    }

    h5 {
        font-size: 1.4em;
    }

    h6 {
        font-size: 1.2em;
    }

    hr {
        color: #646464;
        border-color: #646464;
        background-color: #646464;
    }

    p {
        margin: 0 0 0.5em 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ul {
        list-style-type: disc;
        padding-left: 2em;
        margin: 0 0.5em;

        > ul {
            list-style-type: circle;
        }
    }

    ol {
        list-style-type: decimal;
        padding-left: 2em;
        margin: 0 0.5em;
    }

    code {
        background: #f9f2f4;
        color: #c7254e;
        font-size: 0.9em;
        padding: 0.2em 0.4em;
    }

    pre {
        display: block;
        padding: 0.5rem;
        margin: 0.5rem 0;
        font-size: 0.9em;
        line-height: 1.5;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background: #f5f5f5;
        border: 1px solid #ccc;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin: 0 0 1em 0;

        > thead {
            > tr {
                border-bottom: 2px solid #ccc;

                > th {
                    padding: 0.5em;
                    font-weight: bold;
                }
            }
        }

        > tbody {
            color: #505050;

            > tr {
                border-bottom: 1px solid #ccc;

                > td {
                    padding: 0.5em;
                }

                &:nth-child(even) {
                    background: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }

    img {
        max-width: 33%;
        vertical-align: middle;
        border: 0;
    }

    blockquote {
        padding: 0.5em 1em;
        margin: 0 0 1em 0;
        border-left: 0.5em solid rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0.03);
    }
}