@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loading-text {
    0%  { content: 'Loading\00a0\00a0\00a0'; }
    33% { content: 'Loading.\00a0\00a0'; }
    66% { content: 'Loading..\00a0'; }
    99% { content: 'Loading...'; }
}

.loader {
    position: relative;
    width: 20vh;
    height: 20vh;
    margin: 8em auto;
}

.loader::after {
    content: '';
    display: block;
    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
}

.loader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loading-text 1s linear infinite;
    opacity: 0.5;
    text-align: center;
}